#root {
  height: 100svh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: sans-serif;
}

  #header {
    width: 100%;
    background-color: #CCC;
    flex: 0 1 auto;
  }

    #header h1 {
      text-align: center;
      margin: 10px;
    }

  #feed {
    flex: 1 1 auto;
    width: 90%;
    max-width: 400px;
    height: 100%;
    margin: 0px;
    background-color: #EEE;
  }

.task {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}

.task p {
  padding: 0px;
  margin: 0px;
}
.task .taskName {
  font-weight: bolder;
}
